<% content_for :page_title do -%>Browse Apps<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <div class="span3 pull-right">
    <a class="btn large primary">Add Your App &rarr;</a>
  </div>

  <h1>About This Site <small>Who we are, and why we made this site.</small></h1>
</div>
<% end -%>

<div class="span16 pull-left">
    
</div>
