<% content_for :page_title do -%>About<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <div class="pull-right">
    <a href="/apps/new" class="btn btn-large btn-success">Add Your App &rarr;</a>
  </div>

  <h1>About This Site <small>Who we are, and why we made this site.</small></h1>
</div>
<% end -%>

<div class="span16 pull-left">
    
</div>
