<% content_for :page_title do -%>Welcome<% end -%>

<!-- HANDLEBARS TEMPLATES -->
<%= render partial: 'shared/handlebars/post', :locals => { :ident => '_post' }%>
<!-- END HANDLEBARS TEMPLATES-->

<% content_for :include_js do %>
<%= javascript_include_tag 'pages/home_index' %>
<% end %>
<div class="row">
  <div class="hero-unit panel span6 offset1 pull-left">
    <h1>Popular Apps <small><strong><a href="/apps/popular">more &rarr;</a></strong></small></h1>
  	<div id="popular_container">
  		<ul class="thumbnails">
  		<% @apps.each do |app|%>
        <%= render :partial => 'apps/card', 
                   :locals => { :app => app } -%>
  		<% end %>
  		</ul>
  	</div>

    <h2 class="add-top half-bottom">Popular Posts <small><strong><a href="/posts">more &rarr;</a></strong></small></h2>
    <div id="latest_sources_list" />
	</div>

  </div>

  <div class="span3 well panel yellow pull-right">
    <h3>Showcase + Discuss + Grow</h3>
    <ul>
      <li class="black">Add your app and talk about how you made things work.</li>
      <li class="black">Get feedback from other developers and web + mobile experts.</li>
      <li class="black">Expand your userbase!</li>
    </ul>
    <a href="/apps/new" class="btn btn-large btn-success">Add Your App &rarr;</a>
  </div>

  <div class="span3 well panel pull-right">  
    <h3>How Did They Do That?</h3>
    <p>
      If you're looking for information on how something was done, you've come in the right place!
    </p>
    <form action class="no-bottom">
      <div class="clearfix">
        <input class="span3" id="" name="" type="text" placeholder="Search by app name, techology, or person">
      </div>
      <a class="btn btn-large btn-primary">Find An App &rarr;</a>
    </form>
  </div>

  <div class="span3 well panel pull-right">
    <h2 class="half-bottom">Recent <small><a href="/apps/recent">more &rarr;</a></small></h2>
    <div id="recent_container">
	  	<ul class="thumbnails">
  		<% @recent.each do |app|%>
        <%= render :partial => 'apps/card', 
                   :locals => { :app => app } -%>
  		<% end %>
  		</ul>
  	</div>
  </div>  
</div>