<!-- HANDLEBARS TEMPLATES-->
<script id="recent_source" type="text/x-handlebars-template">
<a href="{{url}}">
  <img class="thumbnail" src="http://placehold.it/210x210" alt="">
  <h3>{{domain}}</h3>
  <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> {{user_id}}</span>
</a>
</script>

<script id="featured_source" type="text/x-handlebars-template">

<a href="{{url}}">
  <img class="thumbnail" src="http://placehold.it/210x210" alt="">
  <h3>{{title}}</h3>
  {{comments}} Posts
</a>
</script>

<%= render partial: 'shared/handlebars/post'%>
<!-- END HANDLEBARS TEMPLATES-->

<% content_for :include_js do %>
<script type="text/javascript">
$(document).ready(function() {
	Signalike.Source.latest({
		success: function (sources) {
			var source   = $("#featured_source").html();
			var template = Handlebars.compile(source);
			//sources.items is the list of sources
			//sources.total is the number of sources in the list
			var compiled = [];
			var limit = 4;
			var i;
			limit = Math.min(limit,sources.items.length);
			for(var x = 0; x < limit; x++) {
				i = sources.items[x];
				compiled.push('<li>' + template(i) + '</li>');
			}
			
			$('#popular_container').html('<ul class="media-grid">'+ compiled.join('') + '</ul>');
			
			console.log(sources);
			//get the handlebar template
			source   = $("#_post").html();
			template = Handlebars.compile(source);
			//sources.items is the list of sources
			//sources.total is the number of sources in the list
			compiled = [];
			$.each(sources.items, function (idx, i) {
				compiled.push(template(i));
				// (new Signalike.Source(i.id)).fetch({
				// 	success: function (d) {
				// 		console.log(d);
				// 		
				// 	}
				// });
			});
			
			$('#latest_sources_list').html(compiled.join(''));
		}
	});
	Signalike.Source.latest({
		success: function (sources) {
			console.log(sources);
			//get the handlebar template
			//
			var source   = $("#recent_source").html();
			var template = Handlebars.compile(source);
			//sources.items is the list of sources
			//sources.total is the number of sources in the list
			var compiled = [];
			var limit = 3;
			var i;
			limit = Math.min(limit,sources.items.length);
			for(var x = 0; x < limit; x++) {
				i = sources.items[x];
				compiled.push('<li>' + template(i) + '</li>');
			}
			
			$('#recent_container').html('<ul class="media-grid">'+ compiled.join('') + '</ul>');
			
		}
	});
});
</script>
<% end %>
<div class="row">
  <div class="hero-unit panel span8 pull-left">
    <h1>Popular Apps <small><strong><a href="/apps/popular">more &rarr;</a></strong></small></h1>
	<div id="popular_container">
		Loading..
	</div>

    <h2 class="add-top half-bottom">Popular Posts <small><strong><a href="/posts/recent">more &rarr;</a></strong></small></h2>
    <div id="latest_sources_list">
	  Loading...
	</div>

  </div>

  <div class="span5 well panel yellow pull-right">
    <h3>Showcase + Discuss + Grow</h3>
    <ul>
      <li class="black">Add your app and talk about how you made things work.</li>
      <li class="black">Get feedback from other developers and web + mobile experts.</li>
      <li class="black">Expand your userbase!</li>
    </ul>
    <a href="/apps/new" class="btn large success">Add Your App &rarr;</a>
  </div>

  <div class="span5 well panel pull-right">  
    <h3>How Did They Do That?</h3>
    <p>
      If you're looking for information on how something was done, you've come in the right place!
    </p>
    <form action class="no-bottom">
      <div class="clearfix">
        <input class="span5" id="" name="" type="text" placeholder="Search by app name, techology, or person">
      </div>
      <a class="btn large primary">Find An App &rarr;</a>
    </form>
  </div>

  <div class="span5 well panel pull-right">
    <h2 class="half-bottom">Recent Apps <small><a href="/posts/recent">more &rarr;</a></small></h2>
    <div id="recent_container">
	  Loading...
	</div>
  </div>  
</div>