<% content_for :page_title do -%>Browse Apps<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <div class="pull-right">
    <a href="/apps/new" class="btn btn-large btn-success">Add Your App &rarr;</a>
  </div>

  <h1>Terms Of Service <small>Be nice.</small></h1>
</div>
<% end -%>

<div class="span16 pull-left">
    
</div>
