<% ident ||= '_post'%>
<script id="<%= ident %>" type="text/x-handlebars-template">
  <div class="add-bottom">
  <div class="pull-left"><img src="{{picture_small}}" class="inline"></div>
  <div class="post-summary">
    <h4><a href="/apps/{{category_keys}}/posts/{{id}}">{{title}}</a> 
    <small>
    {{#if domain}}
	  at <a href="{{url}}">{{domain}}</a> 
    {{/if}}
    +{{up}} -{{down}}</small> 
    {{#if text}}
    <span class="label">topic</span> 
    {{/if}}
    {{#if file}}
    <span class="label">file</span> 
    {{/if}}
    {{#if domain}}
    <span class="label">link</span>
    {{/if}}
    </h4>
    <span class="nowrap">{{nickname}}</span> 
    &bull; {{created_at}} 
    &bull; {{comments}} responses
  </div>
</div>
</script>