<% ident ||= 'node'%>
<script id="<%= ident%>" type="text/x-handlebars-template">
<div style="margin-left: {{width}}px;" class="add-bottom">
    <div class="pull-left"><img src="{{picture_small}}"></div>
    <div class="post-response">
      <span class="info">
      <span class="nowrap"><a href="/users/{{user_id}}">{{nickname}}</a></span> 
      &bull; {{created_at}} 
      &bull; {{score}} pt
      &bull; <a href="/apps/{{dimension_key}}/posts/{{source_id}}/comments/{{id}}">Permalink</a><br/>
      <span class="title">{{title}}</span>
      </span>
    </div>
  </div>
</script>
