<% ident ||= '_post_header'%>
<script id="<%= ident %>" type="text/x-handlebars-template">
  <div class="pull-left">
    <img src="{{picture}}" class="inline">
  </div>
  <h1 class="post-title">
  {{title}} 
  <small>at <a href="{{url}}">{{domain}}</a> +{{up}} -{{down}} <span class="label">topic</span> <span class="label">file</span> <span class="label">link</span></small><br/>
  <small><a href="/users/{{user_id}}">{{nickname}}</a> &bull; {{updated_at}} &bull; <%= link_to @app.name, app_path(@app) -%></small> 
  </h1>
</script>