<script id="_post" type="text/x-handlebars-template">
  <div class="add-bottom">
  <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
  <div class="post-summary">
    <h4><a href="/apps/{{dimension_ids}}/posts/{{id}}">{{title}}</a> <small>at {{domain}} +{{up}} -{{down}}</small> <span class="label source"><a href="{{url}}">link</a></span></h4>
    <span class="nowrap">{{username}}</span> 
    &bull; {{created_at}}  
    &bull; {{dimension_names}}
    &bull; {{comments}} responses
  </div>
</div>
</script>

