<% content_for :page_title do -%>Adding Your App<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <h1>Adding Your App</h1>
</div>
<% end -%>

<div class="row">
  <div class="span4 well panel yellow pull-left">
    <h2>What's Behind It?</h2>
    <p>People come to this site to know more about what makes your app tick.</p>
    <p>We recommend describing the following in the <strong>About</strong> field:</p>
    <dl>
      <dt>What your app offers</dt>
      <dd>Features, functions, data, processes, you name it!</dd>
      <dt>Who built it</dt>
      <dd>Tell us about the folks who designed, developed, launched, and support the app.</dd>
      <dt>How you're spreading the word</dt>
      <dd>What are you doing to make sure that the right people know about your app?</dd>
      <dt>Why it's important</dt>
      <dd>Saving the best for last...</dd>                  
    </dl>
    <p>Also, upload a few <strong>Screenshots</strong>!</p>
  </div>

  <div class="span11 pull-right">
    <form>
      <fieldset>
        <legend>App Information</legend>
        <div class="clearfix">
          <label for="xlInput">App Name *</label>
          <div class="input">
            <input class="span5" id="xlInput" name="xlInput" size="30" type="text">
            <span class="help-block">Use your app's name or domain name. We suggest keeping it to 30 characters or less.</span>
          </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
          <label for="prependedInput">Web Site</label>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on">http://</span>
              <input class="span5" id="prependedInput" name="prependedInput" size="16" type="text" placeholder="domain/page">
            </div>
          </div>
        </div>        
        <div class="clearfix">
          <label for="textarea">About *</label>
          <div class="input">
            <textarea class="span8" id="textarea2" name="textarea2" rows="12"></textarea>
            <span class="help-block">
              Describe what your app offers, who built it, how your spreading the word about it, and why it's important.
            </span>
          </div>
        </div><!-- /clearfix -->        
        <div class="clearfix">
          <label id="optionsCheckboxes">User Platforms *</label>
          <div class="input">
            <ul class="inputs-list">
              <li>
                <label>
                  <input type="checkbox" name="optionsCheckboxes" value="option1">
                  <span>Web</span>
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="optionsCheckboxes" value="option2">
                  <span>Android</span>
                </label>
              </li>              
              <li>
                <label>
                  <input type="checkbox" name="optionsCheckboxes" value="option2">
                  <span>iOS</span>
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="optionsCheckboxes" value="option2">
                  <span>Windows Phone</span>
                </label>
              </li>
              <li>
                <label class="disabled">
                  <input type="checkbox" name="optionsCheckboxes" value="option2">
                  <span>Windows</span>
                </label>
              </li>
              <li>
                <label class="disabled">
                  <input type="checkbox" name="optionsCheckboxes" value="option2">
                  <span>OS X</span>
                </label>
              </li>              
              <li>
                <label class="disabled">
                  <input type="checkbox" name="optionsCheckboxes" value="option2">
                  <span>Linux</span>
                </label>
              </li>
            </ul>
            <span class="help-block">
              <strong>Note:</strong> Choose one or more.
            </span>
          </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
          <label for="fileInput">Screenshots</label>
          <div class="input">
            <input class="input-file" id="fileInput" name="fileInput" type="file">
          </div>
        </div><!-- /clearfix -->        
      </fieldset>
         
      <fieldset class="add-top">
        <legend>Other Details</legend>
        <div class="clearfix">
          <label for="textarea">Technical Info</label>
          <div class="input">
            <textarea class="span8" id="textarea2" name="textarea2" rows="4"></textarea>
            <span class="help-block">
              Enter the different types of technology being used, such as languages, frameworks, and libraries. 
            </span>
          </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
          <label for="textarea">Thanks To</label>
          <div class="input">
            <textarea class="span8" id="textarea2" name="textarea2" rows="4"></textarea>
            <span class="help-block">
              Mention all the people you'd like to thank for helping make your app what it is today!
            </span>
          </div>
        </div><!-- /clearfix --> 
        <div class="clearfix">
          <label for="prependedInput">Twitter</label>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on">@</span>
              <input class="span3" id="prependedInput" name="prependedInput" size="16" type="text" placeholder="accountname">
            </div>
          </div> 
        </div>
        <div class="clearfix">
          <label for="prependedInput">Facebook</label>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on">http://www.facebook.com/</span>
              <input class="span5" id="prependedInput" name="prependedInput" size="16" type="text" placeholder="page">
            </div>
          </div>
        </div>
        <div class="clearfix">
          <label for="prependedInput">Google+</label>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on">https://plus.google.com/</span>
              <input class="span5" id="prependedInput" name="prependedInput" size="16" type="text" placeholder="uniqueid/posts">
            </div>
          </div>
        </div>
        <div class="clearfix">
          <label for="prependedInput">Android Market</label>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on">https://market.android.com/</span>
              <input class="span5" id="prependedInput" name="prependedInput" size="16" type="text" placeholder="page">
            </div>
          </div>
        </div>
        <div class="clearfix">
          <label for="prependedInput">iTunes App Store</label>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on">http://itunes.apple.com/</span>
              <input class="span5" id="prependedInput" name="prependedInput" size="16" type="text" placeholder="page">
            </div>
          </div>
        </div>
        <div class="clearfix">
          <label for="fileInput">Other Documents</label>
          <div class="input">
            <input class="input-file" id="fileInput" name="fileInput" type="file">
          </div>
        </div><!-- /clearfix -->          
      </fieldset>
      <div class="actions">
        <input type="submit" class="btn" value="Preview">&nbsp;<input type="submit" class="btn primary half-left" value="Save">
      </div>
    </form>
  </div>
</div>
