<% content_for :page_title do -%>Adding Your App<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <div id="form-status" class="alert-message info pull-right" style="display: none;"></div>
  <h1>Adding Your App</h1>
</div>
<% end -%>

<div class="row">
  <div class="span4 well panel yellow pull-left">
    <h2>What's Behind It?</h2>
    <p>People come to this site to know more about what makes your app tick.</p>
    <p>We recommend describing the following in the <strong>About</strong> field:</p>
    <dl>
      <dt>What your app offers</dt>
      <dd>Features, functions, data, processes, you name it!</dd>
      <dt>What's in it</dt>
      <dd>What are the different types of technology being used, such as languages, frameworks, and libraries. </dd>
      <dt>Who built it</dt>
      <dd>Tell us about the folks who are designing, developing, launching, and supporting the app.</dd>
      <dt>How you're spreading the word</dt>
      <dd>What are you doing to make sure that the right people know about your app?</dd>
      <dt>Why it's important</dt>
      <dd>Saving the best for last...</dd>                  
    </dl>
    <p>Also, upload a few <strong>Screenshots</strong>!</p>
  </div>

  <div class="span11 pull-right">
    <%= render :partial => "form", :locals => { :app => @app, 
            :form_url => apps_path } %>
  </div>
</div>
