<% content_for :page_title do -%>Posts<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <div class="pull-right">
    <a href="/apps/new" class="btn btn-large btn-success">Add Your App &rarr;</a>
  </div>

  <h1>Posts</h1>
</div>
<% end -%>

<div class="row">
  <div class="span5">
    <h2>Popular</h2>
    <div id="popular"></div>
  </div>
  <div class="span5 offset1 pull-right">
    <h2>Recent</h2>
    <div id="recent"></div>
  </div>
</div>


<!-- HANDLEBARS TEMPLATES -->
<%= render partial: 'shared/handlebars/post'%>
<!-- END HANDLEBARS TEMPLATES-->

<% content_for :include_js do %>
<script type="text/javascript">
$(document).ready(function() {
  Signalike.Source.top({
    success: function (sources) {
      //get the handlebar template
      var source   = $("#_post").html();
      var template = Handlebars.compile(source);
      //sources.items is the list of sources
      //sources.total is the number of sources in the list
      var compiled = [];
      var limit = 20;
      var i;
      var data = [];
      var user_ids = [];
      limit = Math.min(limit,sources.items.length);
      for(var x = 0; x < limit; x++) {
        i = sources.items[x];
        user_ids.push(i.user_id);
        data.push(i);
      }
      if (data.length > 0) {
        Users.getLabels(user_ids, function (user_data) {
          $.each(data, function (idx, i) {
            i.username = user_data[i["user_id"]]["username"];
            i.picture_small = user_data[i["user_id"]]["picture_small"];
            compiled.push(template(i))
          });
          $('#popular').html(compiled.join(''));
        });
      }
    }
  });

  Signalike.Source.latest({
    success: function (sources) {
      //get the handlebar template
      var source   = $("#_post").html();
      var template = Handlebars.compile(source);
      //sources.items is the list of sources
      //sources.total is the number of sources in the list
      var compiled = [];
      var limit = 20;
      var i;
      var data = [];
      var user_ids = [];
      limit = Math.min(limit,sources.items.length);
      for(var x = 0; x < limit; x++) {
        i = sources.items[x];
        user_ids.push(i.user_id);
        data.push(i);
      }
      if (data.length > 0) {
        Users.getLabels(user_ids, function (user_data) {
          $.each(data, function (idx, i) {
            i.username = user_data[i["user_id"]]["username"];
            i.picture_small = user_data[i["user_id"]]["picture_small"];
            compiled.push(template(i))
          });
          $('#recent').html(compiled.join(''));
        });
      }
    }
  });  
});
</script>
<% end %>
