<% content_for :page_title do -%>This is a very long post title that seems to keep going and going... : example.com<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <div class="pull-right add-left">
    <a class="btn large default">+</a> 
    <a class="btn large default">&#8722;</a>
    <a class="btn large primary">Edit &rarr;</a>
  </div>
  <div class="pull-left add-right">
    <%= image_tag("http://placehold.it/36x36", :class=>"inline") -%>
  </div>
  <h1 class="post-title">This is a very long post title that seems to keep going and going...<br/>
    <small>+3 -0 &bull; 20 hours ago by <a href="/users/1">devpopol</a> &bull; <a href="/apps/1-example-com/">example.com</a></small> 
    <span class="label">topic</span> <span class="label">file</span> <span class="label">link</span>
  </h1>
</div>
<% end -%>

<div class="span7 pull-left">
  <h3>Link</h3>
  <ul>
    <li><a href="">http://www.example.com/</a></li>
  </ul>
  <h3>Files</h3>
  <ul>
    <li><a href="">Architecture Overview.pptx</a></li>
    <li><a href="">Conference Presentation.pptx</a></li>
  </ul>  
  <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad.</p>
  <p>Pri omnes denique cu, modus graeci eu pri. Ne suas esse atqui mei, inimicus pertinacia dissentiunt ut has. His et equidem senserit. Cu blandit reprimique est, nam an liber neglegentur. Alii option ocurreret eu sit, vix suas homero aeterno ad.</p>
  <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad.</p>
  <p>Pri omnes denique cu, modus graeci eu pri. Ne suas esse atqui mei, inimicus pertinacia dissentiunt ut has. His et equidem senserit. Cu blandit reprimique est, nam an liber neglegentur. Alii option ocurreret eu sit, vix suas homero aeterno ad.</p>
</div>

<div class="span8 pull-right">
  <div class="pull-right">
    <a href="#" class="btn small primary">Add Response</a>
  </div>
  
  <h2 class="add-bottom">Responses <small>5 responses</small></h2> 

  <div class="add-bottom">
    <div class="pull-right half-left">
      <a class="btn small default">+</a> 
      <a class="btn small default">&#8722;</a>
      <!-- <a class="btn large primary">Edit &rarr;</a> -->
    </div>  
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-response">
      <span class="info">
      2 hours ago 
      <span class="nowrap">by <a href="/users/1">Tess</a></span> 
      &bull; 12 pts
      &bull; <a href="">Permalink</a>
      </span>
      <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad.</p>
    </div>
  </div>

  <div style="margin-left: 46px;" class="add-bottom">
    <div class="pull-right half-left">
      <a class="btn small default">+</a> 
      <a class="btn small default">&#8722;</a>
      <!-- <a class="btn large primary">Edit &rarr;</a> -->
    </div>  
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-response">
      <span class="info">
      2 hours ago 
      <span class="nowrap">by <a href="/users/1">Tess</a></span> 
      &bull; 0 pts
      &bull; <a href="">Permalink</a>
      </span>
      <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. </p>
    </div>
  </div>  
      
  <div class="add-bottom">
    <div class="pull-right half-left">
      <a class="btn small default">+</a> 
      <a class="btn small default">&#8722;</a>
      <!-- <a class="btn large primary">Edit &rarr;</a> -->
    </div>  
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-response">
      <span class="info">
      2 hours ago 
      <span class="nowrap">by <a href="/users/1">Tess</a></span> 
      &bull; 7 pts
      &bull; <a href="">Permalink</a>
      </span>
      <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad.</p>
    </div>
  </div>

  <div class="add-bottom">
    <div class="pull-right half-left">
      <a class="btn small default">+</a> 
      <a class="btn small default">&#8722;</a>
      <!-- <a class="btn large primary">Edit &rarr;</a> -->
    </div>  
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-response">
      <span class="info">
      2 hours ago 
      <span class="nowrap">by <a href="/users/1">Tess</a></span> 
      &bull; 2 pts
      &bull; <a href="">Permalink</a>
      </span>
      <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad.</p>
      <p>Pri omnes denique cu, modus graeci eu pri. Ne suas esse atqui mei, inimicus pertinacia dissentiunt ut has. His et equidem senserit. Cu blandit reprimique est, nam an liber neglegentur. Alii option ocurreret eu sit, vix suas homero aeterno ad.</p>
      <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad.</p>
      <p>Pri omnes denique cu, modus graeci eu pri. Ne suas esse atqui mei, inimicus pertinacia dissentiunt ut has. His et equidem senserit. Cu blandit reprimique est, nam an liber neglegentur. Alii option ocurreret eu sit, vix suas homero aeterno ad.</p>      
    </div>
  </div>
  
  <div style="margin-left: 46px;" class="add-bottom">
    <div class="pull-right half-left">
      <a class="btn small default">+</a> 
      <a class="btn small default">&#8722;</a>
      <!-- <a class="btn large primary">Edit &rarr;</a> -->
    </div>  
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-response">
      <span class="info">
      2 hours ago 
      <span class="nowrap">by <a href="/users/1">Tess</a></span> 
      &bull; -3 pts
      &bull; <a href="">Permalink</a>
      </span>
      <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad.</p>
    </div>
  </div>

  <div class="add-bottom">
    <div class="pull-right half-left">
      <a class="btn small default">+</a> 
      <a class="btn small default">&#8722;</a>
      <!-- <a class="btn large primary">Edit &rarr;</a> -->
    </div>  
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-response">
      <span class="info">
      2 hours ago 
      <span class="nowrap">by <a href="/users/1">Tess</a></span> 
      &bull; 0 pts
      &bull; <a href="">Permalink</a>
      </span>
      <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad.</p>
      <p>Pri omnes denique cu, modus graeci eu pri. Ne suas esse atqui mei, inimicus pertinacia dissentiunt ut has. His et equidem senserit. Cu blandit reprimique est, nam an liber neglegentur. Alii option ocurreret eu sit, vix suas homero aeterno ad.</p> 
    </div>
  </div>

  <div style="margin-left: 46px;" class="add-bottom">
    <div class="pull-right half-left">
      <a class="btn small default">+</a> 
      <a class="btn small default">&#8722;</a>
      <!-- <a class="btn large primary">Edit &rarr;</a> -->
    </div>  
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-response">
      <span class="info">
      2 hours ago 
      <span class="nowrap">by <a href="/users/1">Tess</a></span> 
      &bull; 3 pts
      &bull; <a href="">Permalink</a>
      </span>
      <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad.</p>
      <p>Pri omnes denique cu, modus graeci eu pri. Ne suas esse atqui mei, inimicus pertinacia dissentiunt ut has. His et equidem senserit. Cu blandit reprimique est, nam an liber neglegentur. Alii option ocurreret eu sit, vix suas homero aeterno ad.</p>
      <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad.</p>
      <p>Pri omnes denique cu, modus graeci eu pri. Ne suas esse atqui mei, inimicus pertinacia dissentiunt ut has. His et equidem senserit. Cu blandit reprimique est, nam an liber neglegentur. Alii option ocurreret eu sit, vix suas homero aeterno ad.</p>      
    </div>
  </div>
  
  <div style="margin-left: 92px;" class="add-bottom">
    <div class="pull-right half-left">
      <a class="btn small default">+</a> 
      <a class="btn small default">&#8722;</a>
      <!-- <a class="btn large primary">Edit &rarr;</a> -->
    </div>  
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-response">
      <span class="info">
      2 hours ago 
      <span class="nowrap">by <a href="/users/1">Tess</a></span> 
      &bull; 1 pt
      &bull; <a href="">Permalink</a>
      </span>
      <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad.</p>
    </div>
  </div>

</div>

