/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require markdown
 *= require markitup
 *= require_self
*/

/* Section element styles */
body { 
  padding-top:55px; 
  background: url('square_bg.png'); 
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar .navbar-inner { background: url('random_grey_variations.png'); }
.brand { font-weight: 900; }

.panel {  
  background: -moz-linear-gradient(top, white 0%, #F4F4F4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#F4F4F4));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}
.blue {
  background: -moz-linear-gradient(top, #DDF4FB 0%, #F4F4F4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDF4FB), color-stop(100%,#F4F4F4));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDF4FB', endColorstr='#F4F4F4',GradientType=0 );  
}
.green {
  background: -moz-linear-gradient(top, #D1EED1 0%, #FFFFFF 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1EED1), color-stop(100%,white));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D1EED1', endColorstr='#FFFFFF',GradientType=0 );
}
.yellow {
  background: -moz-linear-gradient(top, #FEFBF3 0%, #FFFFFF 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFBF3), color-stop(100%,white));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFBF3', endColorstr='#FFFFFF',GradientType=0 ); 
}

.box {
  border: 1px solid #EEE;
  padding: 20px;
}

.hero-unit { 
  border: 1px solid #eee; 
  padding: 20px 30px 20px 30px;
  background: #3c424c;
  background: -moz-linear-gradient(top, #3c424c 0%, #9ea1a6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c424c), color-stop(100%,#9ea1a6));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c424c', endColorstr='#9ea1a6',GradientType=0 ); 
  box-shadow: 0 2px 2px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.25);     
}
.hero-unit h1 { font-size: 58px; color: #eee; text-shadow: 1px 1px 2px #000; }
.hero-unit h2 { color: #EEE; text-shadow: 1px 1px 2px #000; }
.hero-unit .thumbnail { background: #ffffff; }
.hero-unit a { color: #0AE; }
.hero-unit .post-summary a.link { color: #404040; }
.hero-unit h1 a { color: #0AE; text-shadow: 1px 1px 2px #000; }
.hero-unit h4 small { color: #333; }
.hero-unit h4 a { color: #EEE; text-shadow: 1px 1px 2px #000; }

/*.media-grid a { background: url('polaroid.png'); }*/
.media-grid a { background: #FFFFFF; }

.label a { color: #EEE; text-shadow: 1px 1px 2px #000; }

label { font-weight: bold; }

.footer {
  margin-top: 20px;
  background-color: #EEE;
  background: url('bright_squares.png');
  padding: 10px 0;
  text-shadow: 0 1px 0 white;
  border-top: 1px solid #E5E5E5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
}

.post-title { margin-left:46px; }
.post-title a { color: #BFBFBF; text-decoration: underline; }
.post-summary { margin-left:46px; }
.post-summary h4 { line-height: 16px; margin-top: 10px; margin-bottom: 10px; }
.post-response { margin-left:46px; padding-right: 56px; }
.post-response .info { color: #BFBFBF; }
.post-response .info a { color: #BFBFBF; text-decoration: underline; }


/* Layout classes */
.inline { display: inline !important; }
.nowrap { whitespace: nowrap !important; }

.add-top { margin-top: 20px !important; }
.add-bottom { margin-bottom: 20px !important; }
.half-bottom { margin-bottom: 10px !important; }
.no-bottom { margin-bottom: 0px !important; padding-bottom: 0px !important; }
.no-top { margin-top: 0px !important; padding-top: 0px !important; }
.add-left { margin-left: 20px !important; }
.half-left { margin-left: 10px !important; }

li .black { color: #404040 !important; }


/* Responsive */
@media (max-width: 480px) {
  /* Reduce padding above jumbotron */
  body {
    padding-top: 70px;
  }

  /* Change up some type stuff */
  h2 {
    margin-top: 27px;
  }
  h2 small {
    display: block;
    line-height: 18px;
  }
  h3 {
    margin-top: 18px;
  }

  /* Don't space out quick links so much */
  .quick-links {
    margin: 40px 0 0;
  }
  /* hide the bullets on mobile since our horizontal space is limited */
  .quick-links .divider {
    display: none;
  }

  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

  /* Modal */
  .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}

@media (max-width: 768px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Unfloat the back to top link in footer */
  .footer .pull-right {
    float: none;
  }
  .footer p {
    margin-bottom: 9px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

@media (max-width: 980px) {
  /* Unfloat brand */
  .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }
}

/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {
}
