/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Section element styles */
body { 
  padding-top:60px; 
  background: url('square_bg.png'); 
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.topbar .fill { background: url('random_grey_variations.png'); }

.hero-unit { border: 1px solid #eee; }
.hero-unit h1 { font-size: 58px; }
/*.media-grid a { background: url('polaroid.png'); }*/
.media-grid a { background: #FFFFFF; }

label { font-weight: bold; }

.panel {  
  background: -moz-linear-gradient(top, white 0%, #F4F4F4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#F4F4F4));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}
.blue {
  background: -moz-linear-gradient(top, #DDF4FB 0%, #F4F4F4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDF4FB), color-stop(100%,#F4F4F4));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDF4FB', endColorstr='#F4F4F4',GradientType=0 );  
}
.green {
  background: -moz-linear-gradient(top, #D1EED1 0%, #FFFFFF 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1EED1), color-stop(100%,white));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D1EED1', endColorstr='#FFFFFF',GradientType=0 );
}
.yellow {
  background: -moz-linear-gradient(top, #FEFBF3 0%, #FFFFFF 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFBF3), color-stop(100%,white));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFBF3', endColorstr='#FFFFFF',GradientType=0 ); 
}

.box {
  border: 1px solid #EEE;
  padding: 20px;
}

.footer {
  background-color: #EEE;
  background: url('bright_squares.png');
  min-width: 940px;
  padding: 10px 0;
  text-shadow: 0 1px 0 white;
  border-top: 1px solid #E5E5E5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
}

.post-title { margin-left:46px; }
.post-title a { color: #BFBFBF; text-decoration: underline; }
.post-summary { margin-left:46px; }
.post-summary h4 { line-height: 16px; margin-top: 10px; margin-bottom: 10px; }
.post-response { margin-left:46px; padding-right: 56px; }
.post-response .info { color: #BFBFBF; }


/* Layout classes */
.inline { display: inline !important; }
.nowrap { whitespace: nowrap !important; }

.add-top { margin-top: 20px !important; }
.add-bottom { margin-bottom: 20px !important; }
.half-bottom { margin-bottom: 10px !important; }
.no-bottom { margin-bottom: 0px !important; padding-bottom: 0px !important; }
.no-top { margin-top: 0px !important; padding-top: 0px !important; }
.add-left { margin-left: 20px !important; }
.half-left { margin-left: 10px !important; }
